<table border="1">
 
 <tr> 
 <th>Name</th> 
 	
 <th>Age</th> 
 <th colspan="4">Location</th> 
 </tr>


 	 <tr> 
 	 <th rowspan="2">Aziz</th>
 	  <th rowspan="2">26</th> 
 	  
 	  <td>Chicago</td>
 	   <td>Il</td>
 	   
 	 
 	</tr> 	
 	 <tr>
 	  <td>San Diego</td>
 	     <td>CA</td>    
 	  </tr> 

 	  <tr>
 	  	<th>Jen</th>
 	  		<th>40</th>
 	  			<th>New York</th>
 	  				<th>NY</th>
 	  </tr>
 	   <tr>
 	  	<th>Jordan</th>
 	  		<th>29</th>
 	  			<th>London</th>
 	  				<th>UK</th>
 	  </tr>
 	  <tr>
 	  	
 	  	<th colspan="4" ="">Footer</th>
 	  </tr>

<!-- 
 	  <tr> <th rowspan="2">Favorite</th> <th>Color</th> <td>Blue</td> <td>Purple</td> </tr> <tr> <th>Flavor</th> <td>Banana</td> <td>Chocolate</td> </tr> -->


 	</table>

